{% extends "base.html" %}
{% block title %}{{ title }} - fevid{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/gallery.css">
{% endblock %}
{% block content %}
<div class="gallery-detail">
  <div class="gallery-uploader">
    <a href="/@{{ uploader_username }}" class="gallery-avatar">{{ uploader_initial }}</a>
    <div class="gallery-uploader-info">
      <a href="/@{{ uploader_username }}" class="gallery-uploader-name">{{ uploader_display_name }}</a>
      <span class="gallery-uploader-handle">@{{ uploader_username }}</span>
    </div>
  </div>
  <h1 class="gallery-detail-title">{{ title }}</h1>
  {% if description.is_some() %}
  <p class="gallery-detail-desc">{{ description.as_ref().unwrap() }}</p>
  {% endif %}
</div>
<div class="gallery-images">
  {% for image in images %}
  <div class="gallery-image-wrap">
    <img class="gallery-detail-img" src="{{ image.url }}" alt="{{ image.alt }}" loading="lazy">
  </div>
  {% endfor %}
</div>
{% endblock %}