{% extends "base.html" %}
{% block title %}{{ video_title }} - FeVid <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000"
  viewBox="0 0 256 256">
  <path
    d="M178,40c-20.65,0-38.73,8.88-50,23.89C116.73,48.88,98.65,40,78,40a62.07,62.07,0,0,0-62,62c0,70,103.79,126.66,108.21,129a8,8,0,0,0,7.58,0C136.21,228.66,240,172,240,102A62.07,62.07,0,0,0,178,40ZM128,214.8C109.74,204.16,32,155.69,32,102A46.06,46.06,0,0,1,78,56c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46C224,155.61,146.24,204.15,128,214.8Z">
  </path>
</svg>{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/vidstack-theme.css">
<link rel="stylesheet" href="/static/css/vidstack-layout.css">
<link rel="stylesheet" href="/static/css/video.css">
{% endblock %}
{% block content %}
<div class="video-player-wrapper">
  <div id="video-target"></div>
</div>
<div class="video-info-section">
  <h1 class="video-info-title">{{ video_title }}</h1>
  <div class="video-uploader-row">
    {% if uploader_avatar_url.is_some() %}
    <a href="/@{{ uploader_username }}" class="video-uploader-avatar">
      <img src="{{ uploader_avatar_url.as_ref().unwrap() }}" alt="" class="avatar-img">
    </a>
    {% endif %}
    <div class="video-uploader-info">
      <a href="/@{{ uploader_username }}" class="video-uploader-name">{{ uploader_display_name }}</a>
      <span class="video-uploader-handle">@{{ uploader_username }}</span>
    </div>
  </div>
  {% if video_description.is_some() %}
  <div class="video-description">
    <p>{{ video_description.as_ref().unwrap() }}</p>
  </div>
  {% endif %}
</div>
<script src="/static/js/vidstack.min.js"></script>
<script type="module">
  const player = await VidstackPlayer.create({
    target: '#video-target',
    title: 'FeVid.Cloud',
    src: '{{ source_url }}',
    layout: new VidstackPlayerLayout(),
  });

  player.addEventListener('media-provider-change', (event) => {
    const provider = event.detail;
    if (provider.type === 'hls') {
      provider.library = '/static/js/hls.min.js';
    }
  });
</script>
{% endblock %}